@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&family=Rajdhani&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: linear-gradient(to left bottom, #8b9eb7, #9aacc9, #a9b9db, #bac7ed, #ccd5ff);
}
h1{
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*font-family: 'Lexend Deca', sans-serif;*/
button{
    background-color: rgb(255, 255, 255);
    border-radius: 8%;
    width: 90px;
    height: 70px;
    border: none;
    color: black;
    text-decoration: none;
    font-size: 19px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
    
}
button:hover {
    background-color: #F3E0EC; 
    color: rgb(145, 145, 145);
}
.calculadora{
    position: relative;
    left: 10%;
    top: 10%;
}
#resultado{
    width: 390px;
    height: 50px;
    margin-bottom: 10px;
    background-color: rgb(223, 238, 90);
    font-family: 'Outfit', sans-serif;
    border-radius: 9px;
    text-align-last: right;
    font-size: 45px;
}
.fundo{
     width: 500px;
     height: 500px;
     background-color: #7f8897;
     position: relative;
     top: 12%;
     left: 30%;
     border-radius: 9px;
}
#button{
    background-color: coral;
}
#button:hover{
    background-color: rgb(231, 62, 62);
}
.apagar{
    background-color: coral;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
}
footer{
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    padding-bottom: 5%;
    margin-top: 5px;
}